.Title{
    display: flex;
    align-items: flex-end;  
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;
}

.Content{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: grey;
    border: 1px solid black;
    margin-bottom: 20px;
}

.newworld{
    color: white;
}

.Animals{
    display: flex;
    flex-direction: row;
    height: 125px;
    width: 150px;
    background-color: red;
    border: 1px solid black;
    margin-right: 1em;
}

.Sports{
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 150px;
    background-color: brown;
    border: 1px solid black;
    margin-right: 1em;
}

.Cars{
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 150px;
    background-color: yellow;
    border: 1px solid black;
    margin-right: 1em;
}


    /* Partie Formulaire  */


.Contacts{
    display: flex;
    flex-direction: start ;
    height: 520px;
    width: 1005px;
    background-color: white;
    border: 1px solid black;
}


#name{
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    width: 175px;
    margin-right: 1em;
}

#email{
display: flex;
flex-wrap: nowrap;
justify-content: center;
height: 20px;
width: 175px;
margin-right: 10em;
}


#msg{
    display: flex;
    height: 40px;
    width: 400px;
}