/* 
    Developpe par Joris Bourdin



*/
.Title{
    display: flex;
    align-items: flex-end;  
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;
}


h1{
    display: flex;
    justify-content: flex-start;
}

/*  Systeme de barre de navigation
nav {
    border-bottom: 1px solid black;
    display: flex;
    
}

.Titre ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
*/





.Content{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: grey;
    border: 1px solid black;
    margin-bottom: 20px;
}

.Animaux{
    display: flex;
    height: 125px;
    width: 150px;
    background-color: red;
    border: 1px solid black;
}


    /* Partie Formulaire  */

.Contacts{
    display: grid;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    margin-top: 0px;
}


#name{
    display: flex;
    height: 20px;
    width: 175px;
    margin-right: 1em;
}

#email{
display: grid;

height: 20px;
width: 175px;
margin-right: 10em;
}


#msg{
    display: flex;
    height: 40px;
    width: 400px;
}