@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0;
  padding: 0; }

/*BACKGROUND COLOR */
.bg-black {
  background-color: black; }

/*COLOR FONT */
.font-white {
  color: white; }

/* GLOBAL FLEX */
.row {
  display: flex;
  flex-direction: row; }

.item-list {
  padding: 5px;
  margin-right: 15px; }

.al-itm-center {
  display: flex;
  align-items: center; }

.txt-right {
  text-align: right; }

.mg-left {
  margin-left: 15px; }

.mg-right {
  margin-right: 15px; }

.mg-top {
  margin-top: 20px; }

.space-btw {
  display: flex;
  justify-content: space-between; }

.space-end {
  display: flex;
  justify-content: flex-end; }

/* GESTION HAMBURGER MENU */
html,
body {
  margin: 0;
  height: 100%; }

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #a3a3a3, #cccccc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50px;
  padding: 1em; }

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0; }

.menu > li {
  margin: 0 1rem;
  overflow: hidden; }

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#menu-toggle {
  display: none; }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px; }

.menu-button::before {
  content: "";
  margin-top: -8px; }

.menu-button::after {
  content: "";
  margin-top: 8px; }

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg); }

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0); }

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg); }

/* HEADER */
header {
  height: 100vh;
  width: 100vw;
  background: center/cover no-repeat url("/assets/images/industries.jpeg"); }

/* GLOBAL GRID */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.bloc1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 2; }

/* GESTIONS DES IMAGES DES WRAPPERS */
.img1 {
  height: 70vh;
  width: 70vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/apercu.jpeg"); }

.img2 {
  height: 70vh;
  width: 70vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/materiel.jpeg"); }

.img3 {
  height: 70vh;
  width: 70vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/appli.jpeg"); }

/* GESTION TEXTES ONE & TWO */
.one {
  align-content: center;
  justify-content: center; }

h1 {
  color: red; }
  h1:hover {
    color: green; }

/*# sourceMappingURL=style.css.map */
